@font-face {
    font-family: "Spoof";
    src: url("../font/Spoof-Regular.woff2") format("woff2"),
      url("../font/Spoof-Regular.woff") format("woff");
}

* {
    font-family: "Spoof", serif;
    font-weight: 300;
    color: var(--text-color);
}

.container {
    display: flex;
    overflow-x: auto;
    align-self: flex-start;
}

.container2 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container3 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 20px;
    & h3 {
        padding: 10px 10px 10px 10px;
    }
    & button {
        background-color: darkblue; /* yellow */
        color: white;
        border: 2px solid darkblue;
        border-radius: 7%;
        padding: 10px 10px 10px 10px;
    }
    & button:hover {
        cursor: pointer;
    }
    & li {
        margin-top: 15px;
        background-color: yellow; /* yellow */
        height: fit-content;
        width: 150px;
        border: 2px solid black;
        border-radius: 7%;
        list-style-type: none
    }
    & li:hover {
        cursor: pointer;
    }
}

.layout {
    margin-top: 60px;
    display: flex;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pcButtons {
    flex-shrink: 0;
    background-color: #04AA6D; /* Green */
    color: white;
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 4px solid black;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15%;
}

.waitlist {
    cursor: pointer;
    font-size: 20.8px;
}
